{% load compress %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snacks</title>
    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
<header>
    <nav><a href="{% url 'snack_list' %}">Snack List</a></nav>
    <nav><a href="{% url 'snack_create' %}">Create Snack</a></nav>

</header>
<body class="bg-green-50">
    <div>
        {% block content %}
        <h1 class="text-3xl text-green-800">Missing Content</h1>
        {% endblock content %}
    </div>
    <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>
</body>
</html>
